*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
}

/* Navbar styling */

.logo {
    font-size: 1.8rem;
    background-color: white;
    border-radius: 5px;
    padding: .01rem 1rem;
}

.navbar {
    background-color: #fcbf49;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem;
    margin-bottom: 2.5rem;
}

.cart {
    color: black;
    padding: .15rem .55em;
    font-size: 1.1rem;
    position: relative;
    font-size: 1.8rem;
    background-color: white;
    border-radius: 5px;
}

.cartAmount {
    background-color: red;
    color: white;
    position: absolute;
    top: -10px;
    right: -1px;
    font-size: 1.4rem;
    border-radius: 5px;
    padding: .1rem;
    
}

/* Shop item styling */

.shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 2rem;
    justify-content: center;
}

.item {
    border: 2px solid #fcbf49;
    border-radius: 5px;
}

.details {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    gap: 0.5rem
}

.price-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    gap: .5rem;
}

i,.cart {
    cursor: pointer;
}

/* This can be done better */
@media (max-width: 1000px) {
    .shop{
        grid-template-columns: repeat(2, 223px);
    }
}

@media (max-width: 500px) {
    .shop{
        grid-template-columns: repeat(1, 223px);
    }
}

/* Style rules for label and cart page buttons */

.text-center {
    text-align: center;
    margin-bottom: 1rem;
}

.homeBtn, .checkout, .removeAll {
    background-color: #fcbf49;
    border: none;
    padding: .3rem;
    border-radius: 3px;
    cursor: pointer;
    margin-top: .4rem;
}

/* Style for shopping cart */

.shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: .85rem;
}

.cart-item {
    border: 2px solid #fcbf49;
    border-radius: 5px;
    display: flex;
}

.title-price-x {
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-item-price {
    background-color: #fcbf49;
    border-radius: 4px;
    padding: 2px 6px;
}

.removeAll {
    background-color: rgb(250, 40, 40);
}